.portfolioTitle {
  color: #d4af37;
  text-align: center;
}

.portfolioSubTitle {
  text-align: center;
}

.PortfolioContent {
  max-width: 60%;
  margin: auto;
} 

.projectContainer {
  width: 100%;
  height: 100%;
  margin: auto;
  margin: auto;
  float: left;
  display: table;
}