#header {
  text-align: center;
  justify-content: center;
  /* color: #fff; */
  color: #fff;
  position: relative;
  height: 100vh;
  min-height: 600px;
  width: 100%;
  background-image: url('../images/chicago.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  letter-spacing: -2px;
  text-shadow: 0px 2px 3px rgb(0 0 0 / 80%);
  font-size: 5vw;
}

.header-content {
  margin: auto;
  margin-top: 335px;
  max-width: 900px;
}

.title {
  font-size: 5vw;
}

.title-alias {
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1px;
}