.content {
  max-width: 60%;
  margin: auto;
} 

.portfolioTitle {
  color: #d4af37;
  text-align: center;
}

.portfolioSubTitle {
  text-align: center;
}

.projectContainer {
  width: 100px;
  height: 100px;
  margin: auto;
}